body{
    font-family: Arial, sans-serif;
    background: linear-gradient(to right,rgb(151, 93, 151),rgb(54, 54, 148),indigo);
}
#login.login{
    position: relative;
    width: 50vw;
    height: auto;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    justify-self: center;
    border: 1px solid transparent;
    text-align: center;
    background:linear-gradient(rgb(104, 104, 218),rgb(199, 110, 199));
}
#login.login:hover{
    position: relative;
    transition: all 0.3s ease;
    transform: translateX(-4px);
    padding-bottom: 4px;
    cursor: pointer;
}
.card img{
    position: relative;
    width: 20vw;
    height: 50vh;
    border-radius: 20px 0 20px 0;
    opacity: 1;
    background: transparent;
}
.card img:hover{
    transition: all 0.3s ease;
    transform: translateY(-4px);
    padding-bottom: -4px;
    cursor: pointer;
}
.login h1{
    position: relative;
    color: white;
    text-transform: capitalize;
}
.login b{
    position: relative;
    bottom: 10px;
    text-transform: capitalize;
    color: white;
}
.card0 input{
    position: relative;
    width: 35vw;
    height: 6vh;
    border: 1px solid transparent;
    flex: auto;
    border-radius: 5px;
}
.card0 input::placeholder{
color: black;
font: bold;
text-transform: capitalize;
font-weight: 900;
cursor: pointer;
}
.card0 input:hover{
    position: relative;
    transition: all 0.3s ease;
    transform: translateY(-4px);
    padding-left: 4px;
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: rgb(20, 20, 20);
    border: 1px solid transparent;
}
.card0 button{
    position: relative;
    width: 20vw;
    height: 6vh;
    flex: auto;
    border-radius: 20px;
    text-align: center;
    font: bold;
    border: 1px solid transparent;
    font-weight: 900;
}
.card0 button:hover{
    position: relative;
    transition: all 0.3s ease;
    background-color: blueviolet;
    cursor: pointer;
    color: white;
}
.arra button{
    position: relative;
    width: 20vw;
    height: 6vh;
    flex: auto;
    border-radius: 20px;
    text-align: center;
    font: bold;
    border: 1px solid transparent;
    font-weight: 900;
    color: white;
    cursor: pointer;
    text-decoration: none;
    background: linear-gradient(to right,rgb(155, 67, 155),rgb(68, 143, 143),rgb(104, 148, 55));
}
.arra i{
    position: relative;
    font: bold 20px;
    font-weight: 900;
}

.logo{
    position: relative;
    width: 60px;
    text-align: center;
    height: 60px;
    border-radius: 60px;
    cursor: pointer;
    margin-left: 20px;
    top: 20px;
    background: linear-gradient(to right,blue,purple);
}
.logo b{
    position: relative;
    top: 10px;
}
