body{
    position: relative;
    height: 100vh;
    width: auto;
}
.circle{
    position: relative;
    width: auto;
    height: auto;
    background-image: url('./images.jpeg');
    border-radius: 10px 10px 0 0;
    margin-left: auto;
    background-size: cover;
    top: 0px;
    text-align: center;
}
.card{
    position: relative;
    width: 100px;
    height: 100px;
    background: linear-gradient(to right,rgb(204, 128, 128),rgb(243, 230, 54),white);
    border-radius: 50px 0 0 50px;
    top: 20px;
    box-shadow: 10px 0 10px 0;
    margin: auto;
}
.card b{
    font-size: 20px;
    color: rgb(4, 8, 255);
    top: 25px;
    position: relative;
    font: bold;
    font-weight: 900;
}
.card1{
    position: relative;
    width: 100px;
    height: 100px;
    background: linear-gradient(to right,rgb(204, 128, 128),rgb(54, 243, 164),white);
    border-radius: 0 50px 50px 0;
    margin: auto;
    box-shadow:   10px 0 10px 0;
}
.card1 h3{
    position: relative;
    font-size: 20px;
    color: rgb(4, 8, 255);
    top: 30px;
}
.card2{
    position: relative;
    width: 25vw;
    height: 40vh;
    margin: auto;
    bottom: 10px;
    border: 3px solid #51515e;
    border-radius: 30px;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-name: eva;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes eva{
    0%{
        border: 3px solid orange;
    }
    25%{
        border: 3px solid yellow;
    }
    50%{
        border: 3px solid purple;
    }
    75%{
        border: 3px solid green;
    }
    100%{
        border: 3px solid blue;
    }
}
.card2 textarea{
    position: relative;
    top: 70px;
    width: 20vw;
    height: 5vh;
    border-radius: 10px;
    border: 0px  transparent;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    text-transform: capitalize;
}
.card2 textarea::placeholder{
    font-size: 15px;
    color:white;
    font: bold;
    position: relative;
    clear: both;
    text-decoration: none;
    border: 0px  transparent;
}
.card2 textarea:focus{
    outline: oklab(from color l a b);
}
.card2 button{
    position: relative;
    top: 70px;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid transparent;
    cursor: pointer;
    color: rgb(25, 255, 5);
    font: 20px bold;
    background-color: #51515e;
    flex-flow: column;
}
.card2 input{
    position: relative;
    top: 50px;
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 20px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border: 0px solid transparent;
    width: 20vw;
    height: 5vh;
    border-radius: 10px;

}
.card2 input::placeholder{
    font-size: 20px;
    color: white;
    font: bold;
    cursor: pointer;
    border: 0px  transparent;
}
.line{
    position: relative;
    text-align: center;
    width: 25vw;
    height:20vh;
    flex-direction: column;
    margin: auto;
    color: white;
    text-decoration: none;
    top: 10px;
    box-shadow: 10px 0 10px;
    border-radius: 0 20px 0 20px;
    background:linear-gradient(rgb(172, 48, 48),rgb(42, 42, 148),rgb(148, 129, 93),rgb(104, 54, 139),rgb(128, 54, 128),rgb(218, 208, 210)) ;
}
.line h3{
    position: relative;
    top:10px
}
    .foot{border: 1px solid transparent;
        position: relative;
        width: auto;
        height:80vh;
        background-color: #222;
        bottom: 0px;
    }
    .footer h3{
        position: relative;
        font: 20px bold;
        color: white;
        top: 110px;
    }
.footer a{
    position: relative;
    color: yellow;
    text-decoration: none;
    text-transform: lowercase;
    font: 20px bold;
    margin-left: 5px;
    top: 100px;
}
.footer a:hover{
    font: 20px bold;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.3s;
    color: white;
}
h1{
    color: white;
    text-transform: capitalize;
    text-shadow:10px 10px 10px black;
}
.video,video{
    position: relative;
    width: 80%;
    height: 60vh;
    margin: auto;
    margin-left: auto;
    border-radius: 0 20px 0 20px;
}
.para,video:hover{
    position: relative;
    transition: 0.3s;
    animation: ease-in-out;
    font: 20px;
    cursor: pointer;
    border-radius: 10px
}
.para{
    position: relative;
    color: white;
    text-transform: capitalize;
    font: 20px bold;
    text-align:center;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-name: para;
    animation-timing-function: ease-in-aut;
    animation-direction: alternate-reverse;
}
@keyframes para{
    0%{
        color: red;
        margin: auto;
        height: auto;
    }
    25%{
        color: blue;
        margin: auto;
    }
    50%{
        color: green;
        margin: auto;
    }
    75%{
        color: yellow;
        margin: auto;
        text-transform:lowercase;
    }
    100%{
        color: orange;
        margin: auto;
    }
}
.hero,i{
    position: relative;
    font: 20px bold;
    font-style: italic;
    text-transform: capitalize;
    color: white;
    top: auto;
}
.hero img{
position: relative;
width: 50vw;
height: 50vh;
border-radius:  0 20px 0 20px;
border: 1px solid transparent;
cursor: pointer;
}
.hero img::before{
    border-radius: none;
    width: none;
    height: none;
}
.logo{
    position: relative;
    margin: 0px;
    padding: 10px;
    margin-right: 700px;
    flex-direction: column;
    border-radius: 30px;
    top: 30px;
    width: 40px;
    height: 40px;
    box-shadow: 10px 0 0 10px rgb(70, 121, 231);
    background-image: url('./download.jpeg')
}
.logo i{
    position: relative;
    text-decoration: none;
    color: rgb(245, 243, 244);
    bottom: 5px;
}
.logo:hover{
    transition: 0.3s;
    border: 1px solid orange;
    background-color: orange;
    color: white;
    cursor: pointer;
    box-shadow: 10px 0 0 10px purple;
}
.quick-links{
    position: relative;
bottom: 150px;
color: white;
font-weight: 900;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
}
.quick-links a{
    position: relative;
    flex:auto;
    text-transform: capitalize;
    text-decoration: none;
    color: yellow;
    top: auto;
    top: 10px;
    text-align: center;
}
.quick-links a:hover{
    transition: 0.3s;
    color: purple;
    text-transform: lowercase;
    font: 20px bold;
    cursor: pointer;
}
.contact{
    position: relative;
    background-color:transparent;
    width: 30vw;
    height: auto;
    justify-self: end;
    bottom: 180px;
    border-radius: 10px 0 10px 0;
    margin: 5px;
    flex: auto;
    border: 1px solid #e6e6f7;
}
.contact,strong{
    position: relative;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 20px;
}
.contact input{
    position: relative;
    width: 25vw;
    height: 5vh;
    border: 1px solid #51515e;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;

}
.contact input::placeholder{
    color: black;
    font-weight: 900;
    text-transform: lowercase;
    font-style: italic;
    font-display: initial;
    cursor: pointer;
}
.contact input:hover{
    transition: 0.3s;
    border: 1px solid #51515e;
    font-size: 20px;
    border-radius: 5px 0 0 5px;
}
.contact textarea{
    position: relative;
    width: 25vw;
    height: 6vh;
    text-align: center;
    border: 1px solid #51515e;
    text-transform: capitalize;
    cursor: pointer;
}
.contact textarea::placeholder{
     color: black;
    font-weight: 900;
    text-transform: lowercase;
    font-style: italic;
    font-display: initial;
    cursor: pointer;
}
.contact textarea:hover{
     transition: 0.3s;
    border: 1px solid #51515e;
    font-size: 20px;
    border-radius: 5px 0 0 5px;
}
.button1{
    position: relative;
    background-color: #524e4e;
    width: auto;
    border-radius: 0 0 10px 0;
    height: 8vh;
}
.button1 button{
    position: relative;
    top: 10px;
    width: 13vw;
    height: 5vh;
    border: 1px solid rgb(13, 177, 253);
    background-color: rgb(17, 193, 247);
    cursor: pointer;
    font: bold;
}
.button1 button:hover{
transition: 0.3s;
animation-duration: 0.3s;
font-size: 20px;
animation-timing-function: ease-in-out;
animation-delay: 0.3s;
animation-name: name;
animation-iteration-count: infinite;
animation-direction: alternate-reverse;
color: rgb(3, 28, 253);
border: 1px solid white;
border-radius: 10px;
background-color: white;
}
@keyframes name{
    from{
        background-color: #2ac;
        color: black;
    }
    to{
        background-color: #b02bee;
        color: black;
    }
}
.some-contact{
    position: relative;
    justify-self: center;
    width: 30vw;
    height: auto;
    background-color: transparent;
    border: 1px solid #c2bcbc;
    bottom: 490px;
    flex: auto;
    border-radius: 10px 0 10px 0;
}
.some-contact h4{
    position: relative;
    text-align: center;
    bottom: 20px;
    font-size: 20px;
    font-weight: 900;
    color: white;
}
.some-contact input{
    position: relative;
    width: 20vw;
    height: 5vh;
    border: 1px solid #e6e6f7;
    border-radius: 5px;
    text-align: center;
    margin-left: 20px;
    bottom: 20px;
    ascent-override: inset;
}
.some-contact input::placeholder{
    font-size:15px;
    position: relative;
    cursor: pointer;
    flex: auto;
    align-self: center;
}
.frame iframe{
    position: relative;
    flex: auto;
    width: 100%;
    height: 500px;
    bottom: 400px;
}
.dropdown ,b{
    position: relative;
    bottom: 300px;
    color: white;
    flex: auto;
    margin: left 20px;
}
.dropdown ,select{
    position: relative;
    width: 15vw;
    height: 5vh;
    bottom: 280px;
    margin: left 20px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid transparent;
    color: black;
    font: 20px bold;
    font-weight: 900;
}
.dropdown ,select:hover{
    transition: 0.3s;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: none;
    background-color: black;
    text-transform: capitalize;
}
.last{
    position: relative;
    color: white;
    bottom: 280px;
margin-left: 10px;
flex: auto;
}