body{
    margin: 0;
    font-family: Arial sans-serif;
    background-color: #292829;
}
.footer{
    position: relative;
    width: auto;
    height: 50vh;
    background-color: #010101;
    text-align: center;
}
.footer p{
    position: relative;
    text-align: center;
    top: 20px;
    font-size: 20px medium;
    font-style: italic;
    text-align: center;
    font-weight: 500;
    color: white;
}
.footer h1{
    text-align: center;
    position: relative;
    top: 10px;
    color: white;
}
    .item0 a{
        position: relative;
        text-indent: 1;
        text-align: center;
        text-decoration: none;
        color: whitesmoke;
        top: 10px;
        flex: auto;
    }
    .item0 a:hover{
        transition: all 0.3s ease;
        transform: translateY(-4px);
        padding-bottom: 4px;
        color: #8509f8;
        cursor: pointer;
        font-size: medium;
    }
    .line{
        position: relative;
        top: 30px;
        font-size: 40px;
        font-weight:900
    }
    .foot p{
        position: relative;
        color: white;
        text-align: center;
        top: 20px;
    }
    .social-links,h1{
        position: relative;
        text-align: center;
        cursor: pointer;
    }
    .social-links a:hover{
        transition: all 0.3s ease;
        transform: translateY(-4px);
        padding-bottom: 4px;
        font-size: medium
    }
    .social-links img{
        position: relative;
        height: 30px;
        width: 30px;
        border-radius: 30px;
        top: 20px;
    }
    #ecosystems.container{
         position: relative;
    width: auto;
    height: 100vh;
    top: 21px;
    background-size: cover;
    opacity: 1;
    background-color: #292829;
    }
     .navbar{
        position: relative;
        width: auto;
        margin: 60px;
        border-radius: 20px;
        border-left: 5px blue solid;
        text-align: center;
        justify-content: space-between;
        height: 13vh;
        background-color: #101011;
     }
     .navbar{
        display: -ms-flexbox;
        gap: 20px;
     }
     .navbar a{
        position: relative;
        flex: auto;
        text-decoration: none;
        color: white;
        padding-left: 60px;
        top: 20px;
     }
     .logo{
        position: relative;
        top: 20px;
        font: 20px bold;
        color: white;
        font-weight: 900;
     }